apiVersion: v1
kind: Service
metadata:
  name: shiny-counter-service
  labels:
    app: shiny-counter
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      name: http
  selector:
    app: shiny-counter
